extends ../layout

block content
    div(class="container")
        h3= title

        form(
            method="POST",
            action="/laboratories")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            div(class="form-group row")
                div(class="col-sm-2 offset-md-2") Добавить запись
                div(class="col-sm-5")
                    input(
                        type="text",
                        class="form-control",
                        name="name",
                        value="",
                        placeholder="Название Лаборатории")
                div(class="col-sm-3")
                    button(
                        class="btn btn-primary",
                        type="submit"
                    ) Добавить

        ul(class="list-group")
            each item in data
                li(class="list-group-item d-flex align-items-center")
                    span(class="flex-grow-1")= item.name
                    a(
                        href="/laboratory/" + item.id,
                        class="btn btn-success"
                    ) Изменить
                    form(
                        method="POST",
                        action="/laboratories?_method=DELETE")
                        input(
                            type="hidden",
                            name="_csrf",
                            value=csrfToken)
                        input(
                            type="hidden",
                            name="id",
                            value=item.id)
                        button(
                            class="btn btn-danger",
                            type="submit"
                        ) Удалить