extends ../layout

block content
    div(class="container")

        h3= title

        form(
            method="POST",
            action="/tests")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            div(class="form-group row")
                div(class="col-sm-5")
                    input(
                        type="text",
                        class="form-control",
                        name="name",
                        value="",
                        placeholder="Название")
                select(
                    class="col-sm-4",
                    name="labId")
                    each item in data[1]
                        option(
                            value=item.id,
                            class="form-control"
                        )=item.name
                div(class="col-sm-3")
                    button(
                        class="btn btn-primary",
                        type="submit"
                    ) Добавить

        ul(class="list-group")
            each item in data[0]
                li(class="list-group-item align-items-center")
                    div(class="row align-items-center")
                        div(class="col-sm-4")= item.name
                        div(class="col-sm-4")= item.lab_name
                        div(class="col-sm-4 row")
                            a(
                                href="/tests/" + item.id,
                                class="btn btn-success"
                            ) Изменить
                            form(
                                method="POST",
                                action="/tests?_method=DELETE")
                                input(
                                    type="hidden",
                                    name="_csrf",
                                    value=csrfToken)
                                input(
                                    type="hidden",
                                    name="id",
                                    value=item.id)
                                button(
                                    class="btn btn-danger",
                                    type="submit"
                                ) Удалить