extends ../layout

block content
    include registry-nav.pug

    div(class="container")
        form(
            method="POST",
            action="/tests?_method=PUT")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            input(
                type="hidden",
                name="id",
                value=data[0][0]['id'])
            div(class="form-group row")
                div(class="col-sm-6")
                    input(
                        type="text",
                        class="form-control",
                        name="name",
                        value=data[0][0]['name'],
                        maxlength="100",
                        placeholder="Название",
                        required)
                select(
                    class="col-sm-6",
                    name="labId")
                    each item in data[1]
                        option(
                            value=item.id,
                            selected=(data[0][0]['lab_id'] === item.id),
                            class="form-control"
                            )= item.name
            button(
                class="btn btn-primary",
                type="submit"
            ) Сохранить изменения
            a(href="javascript:history.back()", class="btn btn-secondary") Отменить
