extends ../layout

block content
    include registry-nav.pug

    div(class="container")
        form(
            method="POST",
            action="/type-of-check?_method=PUT")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            input(
                name="id",
                type="hidden",
                value=data.id)
            div(class="form-group")
                label(for="name") Название проверки
                input(
                    id="name",
                    class="form-control",
                    name="name",
                    type="text",
                    maxlength="100",
                    value=data.name,
                    required)
            button(
                type="submit",
                class="btn btn-primary"
                ) Сохранить изменения
            a(href="javascript:history.back()", class="btn btn-secondary") Отменить
