extends ../layout

block content
    include registry-nav.pug

    div(class="container")
        form(
            method="POST",
            action="/type-of-check")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            div(class="form-group row")
                label(
                    for="new-item-name",
                    class="col-form-label col-sm-3"
                ) Добавить новую запись
                div(class="col-sm-6")
                    input(
                        id="new-item-name",
                        type="text",
                        class="form-control",
                        name="name",
                        value="",
                        placeholder="Название проверки",
                        required)
                div(class="col-sm-3")
                    button(
                        class="btn btn-primary",
                        type="submit"
                    ) Добавить

        ul(class="list-group")
            each item in data
                li(class="list-group-item d-flex align-items-center")
                    span(class="flex-grow-1")= item.name
                    a(
                        href="/type-of-check/" + item.id,
                        class="btn btn-success btn-action")
                        i(class="fas fa-edit")
                    form(
                        method="POST",
                        action="/type-of-check?_method=DELETE")
                        input(
                            type="hidden",
                            name="_csrf",
                            value=csrfToken)
                        input(
                            type="hidden",
                            name="id",
                            value=item.id)
                        button(
                            class="btn btn-danger btn-action",
                            type="submit")
                            i(class="fas fa-trash-alt")