extends layout

block content
    div(class="container")

        form(
            method="POST",
            action="/customers"
        )
            div(class="form-group row")
                label(
                    for="new-item-name",
                    class="col-form-label col-sm-3"
                ) Добавить новую запись
                div(class="col-sm-3")
                    input(
                        id="new-item-name",
                        type="text",
                        class="form-control",
                        name="name",
                        value="",
                        placeholder="Название"
                    )
                div(class="col-sm-3")
                    input(
                        type="text",
                        class="form-control",
                        name="address",
                        value="",
                        placeholder="Адрес"
                    )
                div(class="col-sm-3")
                        button(
                            class="btn btn-primary",
                            type="submit"
                        ) Добавить

        ul(class="list-group")
            each item in data
                li(class="list-group-item d-flex align-items-center")
                    span(class="flex-grow-1")= item.name
                    a(
                        href="/customers/" + item.id,
                        class="btn btn-success"
                    ) Изменить
                    form(
                        method="POST",
                        action="/customers?_method=DELETE"
                    )
                        input(
                            type="hidden",
                            name="id",
                            value=item.id
                        )
                        button(
                            class="btn btn-danger",
                            type="submit"
                        ) Удалить