extends layout

block content
    div(class="container")
        h3= title

        form(
        method="POST",
        action="/positions")
            input(
                type="hidden",
                name="_csrf",
                value=csrfToken)
            div(class="form-group row")

                div(class="col-sm-4")
                    input(
                    id="new-item-surname",
                    type="text",
                    class="form-control",
                    name="surname",
                    value="",
                    placeholder="Фамилия")
                div(class="col-sm-3")
                    input(
                    id="new-item-name",
                    type="text",
                    class="form-control",
                    name="name",
                    value="",
                    placeholder="Имя")
                div(class="col-sm-3")
                    input(
                    id="new-item-fathers-name",
                    type="text",
                    class="form-control",
                    name="fathersName",
                    value="",
                    placeholder="Отчество")
                div(class="col-sm-2")
                    button(
                    class="btn btn-primary",
                    type="submit"
                    ) Добавить

        ul(class="list-group")
            each item in data
                li(class="list-group-item d-flex align-items-center")
                    span(class="flex-grow-1")= item.surname + " " + item.name + " " + item.fathers_name
                    a(
                    href="/staff/" + item.id,
                    class="btn btn-success"
                    ) Изменить
                    form(
                    method="POST",
                    action="/staff?_method=DELETE")
                        input(
                            type="hidden",
                            name="_csrf",
                            value=csrfToken)
                        input(
                        type="hidden",
                        name="id",
                        value=item.id)
                        button(
                        class="btn btn-danger",
                        type="submit"
                        ) Удалить