extends ../layout

block content
    include staff-nav.pug

    div(class="container")
        h3= title

        ul(class="list-group")
            each item in data
                li(class="list-group-item")
                    div(class="row")
                        div(class="col-sm-5")= item.surname + " " + item.name + " " + item.fathers_name
                        div(class="col-sm-4")= item.position_name
                        div(class="col-sm-3 d-flex")
                            a(
                                href="/staff/" + item.id,
                                class="btn btn-success"
                                ) Изменить
                            form(
                                method="POST",
                                action="/staff?_method=DELETE")
                                input(
                                    type="hidden",
                                    name="_csrf",
                                    value=csrfToken)
                                input(
                                    type="hidden",
                                    name="id",
                                    value=item.id)
                                button(
                                    class="btn btn-danger",
                                    type="submit"
                                    ) Удалить