extends ../layout

block content
    include staff-nav.pug

    div(class="container")
        div(class="d-flex")
            h3(class="flex-grow-1")= title
            a(class="btn btn-info" href="/staff/add") Добавить
            button(
                type="button",
                class="btn btn-info",
                data-toggle="modal",
                data-target="#modal"
                ) Найти

        ul(class="list-group")
            each item in data
                li(class="list-group-item d-flex align-items-center")
                    div(class="row flex-grow-1")
                        div(class="col-sm-5")= item.surname + " " + item.name + " " + item.fathers_name
                        div(class="col-sm-4")= item.position_name
                    a(
                        href="/staff/" + item.id,
                        class="btn btn-success btn-action")
                        i(class="fas fa-edit")
                    form(method="POST", action="/staff?_method=DELETE")
                        input(
                            type="hidden",
                            name="_csrf",
                            value=csrfToken)
                        input(
                            type="hidden",
                            name="id",
                            value=item.id)
                        button(
                            class="btn btn-danger btn-action",
                            type="submit")
                            i(class="fas fa-trash-alt")
        // Modal
        div(
            class="modal fade",
            id="modal",
            tabindex="-1",
            role="dialog",
            aria-labelledby="exampleModalLabel",
            aria-hidden="true")
            div(class="modal-dialog", role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        h5(
                            class="modal-title",
                            id="exampleModalLabel"
                            ) Найти специалиста по фамилии
                        button(
                            type="button",
                            class="close",
                            data-dismiss="modal",
                            aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form(method="POST", action="/staff/search")
                            input(
                                type="hidden",
                                name="_csrf",
                                value=csrfToken)
                            div(class="form-group")
                                label(for="surname") Фамилия
                                input(
                                    id="surname",
                                    type="text",
                                    class="form-control",
                                    name="surname",
                                    value="",
                                    required)
                            button(
                                type="button",
                                class="btn btn-secondary",
                                data-dismiss="modal"
                                ) Отменить
                            button(
                                type="submit",
                                class="btn btn-primary"
                                ) Найти
